{{#partial "contenido"}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-container bg-white p-4 rounded shadow">
                <h1 class="text-center text-primary">Premios canjeados</h1>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID del canje</th>
                        <th>Premio</th>
                        <th>Cantidad de puntos gastados</th>
                        <th>Fecha y hora</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each premioCanjes}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>
                                <a href="/premio/{{this.premio.id}}">{{this.premio.nombre}}</a>
                            </td>
                            <td>{{this.premio.cantidadPuntosNecesarios}}</td>
                            <td>{{this.fechaHoraAlta}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                <div class="text-center mt-4">
                    <a href="/" class="btn btn-outline-primary">Volver al Inicio</a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base title="Premios canjeados - MAACVS"}}