{{#partial "links"}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
{{/partial}}
{{#partial "contenido"}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-container bg-white p-4 rounded shadow">
                <h1 class="text-center text-primary">{{heladera.nombre}}</h1>

                <p><strong>Ubicación:</strong> {{heladera.ubicacion.direccion}}</p>
                <p><strong>Capacidad Máxima:</strong> {{heladera.cantMaxViandas}}</p>
                <p><strong>Viandas Actuales:</strong> {{heladera.cantViandasActuales}}</p>
                <p><strong>Desperfecto:</strong> {{#if heladera.desperfecto}} Sí {{else}} No {{/if}}</p>

                <!-- Mapa para mostrar la ubicación -->
                <div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>

                <!-- Botón para reportar falla -->
                <div class="text-center mt-4">
                    <a href="/heladeras/{{heladera.id}}/incidente" class="btn btn-outline-danger">Reportar falla técnica</a>
                </div>
                <div class="text-center mt-4">
                    {{#if yaSuscrito}}
                        <a href="/heladeras/{{heladera.id}}/misuscripcion" class="btn btn-outline-danger">Mi suscripción</a>
                    {{else}}
                        <a href="/heladeras/{{heladera.id}}/suscripcion" class="btn btn-outline-danger">Suscribirse a la heladera</a>
                    {{/if}}
                </div>

                <!--Boton para ver los incidentes-->
                {{#if verIncidentes}}
                    <div class="text-center mt-4">
                            <a href="/heladeras/{{heladera.id}}/listado-incidentes" class="btn btn-outline-danger">Ver Incidentes</a>
                    </div>
                {{/if}}

                <div class="text-center mt-4">
                    <a href="/heladeras" class="btn btn-outline-primary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Este código se ejecutará cuando la página se haya cargado completamente
    document.addEventListener('DOMContentLoaded', function() {
        // Las coordenadas de la heladera, que deberías pasar desde el backend
        var lat = {{heladera.ubicacion.latitud}};
        var lng = {{heladera.ubicacion.longitud}};

        // Inicialización del mapa
        var map = L.map('map').setView([lat, lng], 18);

        // Añadir el mapa base de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Iconos para las heladeras activas e inactivas
        var iconActiva = L.icon({
            iconUrl: '/assets/img/icon.png',  // Ruta al archivo PNG
            iconSize: [40, 40], // Tamaño del ícono en píxeles [ancho, alto]
            iconAnchor: [25, 50], // Punto donde el ícono apunta en el mapa [ancho/2, alto]
            popupAnchor: [0, -50] // Punto desde donde se muestra el popup
        });

        var iconInactiva = L.icon({
            iconUrl: '/assets/img/InactiveIcon.png',  // Ruta al archivo PNG
            iconSize: [40, 40], // Tamaño del ícono en píxeles [ancho, alto]
            iconAnchor: [25, 50], // Punto donde el ícono apunta en el mapa [ancho/2, alto]
            popupAnchor: [0, -50] // Punto desde donde se muestra el popup
        });

        // Añadir un marcador en la ubicación de la heladera
        var icon = {{#if heladera.desperfecto}} iconInactiva {{else}} iconActiva {{/if}};
         L.marker([lat, lng], {icon: icon}).addTo(map)
            .bindPopup('{{heladera.nombre}}')
            .openPopup();
    });
</script>
{{/partial}}
{{> templates/base title="DETALLES HELADERA"}}